{
  "main": {
    "token": "replace-with-your-screeps-token",
    "protocol": "https",
    "hostname": "screeps.com",
    "port": 443,
    "path": "/",
    "branch": "default"
  },
  "local": {
    "copyPath": "replace-with-your-local-scripts-folder"
  }
}
